<!-- About Section -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.about-title }}</h2>
            <h3 class="section-subheading text-muted">{{ site.about-subheading }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {% for event in site.events %}
                {% assign mod = forloop.index0 | modulo: 2 %}
                {% if mod == 0 %}
                  <!-- When mod is even, an event is show on the left side -->
                  <li>
                    <div class="timeline-image">
                      <img class="img-circle img-responsive" src="img/meetup/{{ event.pic }}" alt="">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>{{ event.date }}</h4>
                        <h4 class="subheading">{{ event.title }}</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">{{ event.description }}</p>
                      </div>
                    </div>
                  </li>
                {% else %}
                  <!-- When mod is odd, an event is show on the right side -->
                  <li class="timeline-inverted">
                    <div class="timeline-image">
                      <img class="img-circle img-responsive" src="img/meetup/{{ event.pic }}" alt="">
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>{{ event.date }}</h4>
                        <h4 class="subheading">{{ event.title }}</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">{{ event.description }}</p>
                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!
                  </h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
