<!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; 2014<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, {{ site.title }}</span>
            <span class="addresslines">
              {% for addressline in site.address %}
                {{ addressline.line }} <br>
              {% endfor %}
            </span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              {% for network in site.social %}
                <li>
                  <a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li>
                <a href="#">privacy policy</a>
              </li>
              <li>
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
